*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: 0.6s;
    font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar{
    background: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 100;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-item .nav-link{
    font-size: 16px;
    padding: 5px 20px;
    margin: 4px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
}
#navbar form button{
    outline: none;
    padding: 0 20px;
}
/* Navbar End */

/* Home Section Start */
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    transition: 0.5s ease;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "France";}
    10%{content: "Spain";}
    20%{content: "United States";}
    30%{content: "China";}
    40%{content: "India";}
    50%{content: "Pakistan";}
    60%{content: "Italy";}
    70%{content: "Turkey";}
    80%{content: "Mexico";}
    90%{content: "Germany";}
    100%{content: "United kingdom";}
} 
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */
.book{
    background: #f9f9f9cf;
    padding: 50px;
    border-radius: 10px !important;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}
.book img{
    border-radius: 8px;
    box-shadow: 4px 6px 5px -5px rgba(0, 0, 0, 0.596);
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}
 label{
    color: rgb(17, 143, 143);
    font-size: 15px;
    font-weight: bold;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 185px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
.book_area{
    background-color: #FFFFFF;
    box-shadow: 2px 5px 5px -5px rgba(0, 0, 0, 0.9);
    padding: 20px 20px;
    border-radius: 10px;
}
@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */





/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
    text-align: justify;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
}
/* Section Packages End */




/* Section Services Start */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}
/* Section Services End */





/* Section Gallary Start */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}

/* Section Gallery End */


/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
.about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s;
    cursor: pointer;
}
.about-btn:hover{
    width: 170px;
    transition: 0.5s ease;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */




/* Footer Start */
#footer{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    background: rgb(9, 65, 73);
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
/* Footer End */

/* Log In Form  */

#log{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 254, 254, 0.619),rgba(255, 255, 255, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
}
#log form{
    width: 80%;
    margin: 20px auto;
}
#log .card{
    margin: 90px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px rgb(0, 36, 50);
}
#log .title-log{
    margin-top: 10px;
    font-weight: 600;
}
#log h4 a{
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    font-size: xx-large;
    color: #f19f07;
    text-shadow: 3px 1px 8px #063d64;
    font-family: fantasy;
    letter-spacing: 3px;
}
#log .btn{
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}
#log a{
    color: #ffa500;
    margin-left: 20px;
}
#or{
    font-weight: 600;
    font-size: x-large;
}

/* Sign Up Form  */

#sign{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 254, 254, 0.799),rgba(255, 255, 255, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
}
#sign form{
    width: 80%;
    margin: 10px auto;
}
#sign .card{
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px rgb(0, 36, 50);
}
#sign .title-log{
    margin-top: 10px;
    font-weight: 600;
}
#sign h4 a{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: xx-large;
    color: #f19f07;
    text-shadow: 3px 1px 8px #063d64;
    font-family: fantasy;
    letter-spacing: 3px;
}
#sign .btn{
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}

/* User_home */


.quick_link li a {
    color: #007bff;
    text-decoration: none;
}

.quick_link li a:hover {
    color: #f19f07;
}

/* Dashboard */

#dashboard{
    background-color: #F7F7F7 !important;;
}
#desh_area{
    width: 80% !important;
    margin: 35px auto !important;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px rgb(0, 55, 77) !important;
    background-color: #FFFFFF !important;
}